body{
	background-color: #f5ca5c;
}

.nav{
	display: inline-block;
	float: right;
	margin: 0px;
}

.nav li{
	display: inline-block;
}

li a:hover{
	text-decoration: underline;
}

#umbc-footer a:hover, #right-footer a:hover{
	text-decoration: underline;
}

#umbc-footer a, #right-footer a{
	text-decoration: none;
	color: black;
}

#umbc-footer{
	color: black;
	background-color: #f5ca5c;
	font-size: 18px;
}

#right-footer{
	font-size: 18px;
	float: right;
	display: inline-block;
}

li a{
	vertical-align:top;
	font-size: 14px;
	color: black;
	text-decoration: none;
}

#title{
	/*display: inline-block;*/
	text-align: center;
	font-size: 28px;
	vertical-align: top;
}

nav{
	background-color: black;
	color: white;
	font-size: 24px;

}

.navtab{
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	color: white;
	border-radius: 50%;
}

.navtab:hover{
	background-color: rgb(190, 198, 206);
	color: black;
}

.navcurrent{
	background-color: rgb(68, 114, 196);
}

.user{
	background-color: rgb(0, 192, 91);
	display: inline-block;
	float: right;
}

.main-content{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}

.hide{
	display: none;
}

.subtitle{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 25px;
}

.inputs{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 18px;
}

#newreq{
	display:inline-block;
 	border-radius: 47%;
 	margin-bottom: 70px;
 	border: 2px solid black;
 	margin-left: 20px;
 	padding: 80px;
}

fieldset{
	border: none;
	margin-bottom: 10px;
	text-align: left;
}

#page2{
	display: none;
}

input, select, textarea{
	border-radius: 50px;
	border:none;
	font-size: 16px;
	padding: 9px;
}

.oneline{
	width: 300px;
}

#descrption{
	width: 400px;
}

.navButton{
	padding: 15px;
	font-size: 16px;
	border-radius: 50px;
	float: right;
	border: none;
	margin:5px;
}

.purpleButton{
	background-color: rgb(119, 4, 234);
}
.greenButton{
	 background-color: rgb(102, 170, 68);

}

td{
	border-bottom: 2px solid black;
	font-size: 18px;
	width: 100px;
	text-align: center;
	padding: 5px;
}

th{
	text-decoration: none;
	width: 120px;
	font-size: 20px;
	border-bottom: 2px solid black;
	font-weight: normal;
	text-align: center;
}

tr{
}

.inline{
	display: inline-block;
}

.rightText{
	text-align: right;
}

#add{
	border-radius: 100%;
	background-color: rgb(0, 119, 255);
	border: none;
	width: 30px;
	height: 30px;
	font-size: 25px;
}

#screen{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: rgba(0,0,0,0.30);
	width: 100%;
	height: 100%;
}

.lineItemDiv{
	position: absolute;
	z-index: 10;
	background-color: #f5ca5c;
	top: 150px;
	left: 250px;
	border-radius: 50px;
	border:none;	
	padding: 30px;
}

.close{
	float: right;
	border-radius: 100%;
	border:none;
	width: 30px;
	height: 30px;
	font-size: 25px;
	background-color: rgb(255, 68, 68);
}

.smallWidth{
	display: inline-block;
	width: 110px;
	text-align: center;
	margin-left: 100px;
}

.num{
	width: 110px;
}

#costs{
	text-align: center;
	max-width: 700px;
} 

.error{
	border-radius: 50px;
	border:2px solid red;
	display: inline-block;
	margin-left: 40px;
	font-size: 20px;
	padding: 10px;
}

.required{
	color: red;
	font-size: 16px;
}

#prev{
	background-color: rgb(206);
}

.remove{
	border-radius: 100%;
	border:none;
	width: 30px;
	height: 30px;
	font-size: 25px;
	background-color: rgb(255, 68, 68);
}

.editButton{
	background-color: rgb(119, 4, 234);
}

.edits{
	text-align: left;
}

#page1{
	padding-bottom: 40px;
}

.center{
	text-align: center;
}

.aButton{
	text-decoration: none;
	color: black;
	font-size: 20px;
	float: none;
}

.middle{
	margin-left: auto;
	margin-right: auto;
}

.right{
	float: right;
}
.left{
	text-align: left;
}

.info{
	display:inline-block;
 	border-radius: 20px;
 	padding: 10px;
 	margin-right: 40px;
 	margin-left: 40px;
 	text-align: left;
 	margin-bottom: 10px;
 	margin-top: 10px;
 	background-color: white;
 	font-size: 20px;
 	max-width: 400px;
}

.sectionTitle{
	font-size: 24px;
}

.description{
	max-width: 80px;
}

.wide{
	max-width: 500px;
}

.lineInfo{
	display: none;
}

.rightTab{
	margin-left: 60px;
}

#newComment{
	width: 500px;
}

.comments{
	max-width: 850px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.navs{
	height: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#postComment{
	float: none;
}

.editer{
	width: 100px;
	font-size: 16px;
	margin-left: 10px;
	color:white;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	padding: 15px 2px 15px 2px;
	background-color:rgb(68, 114, 196);
}